html {
  scroll-behavior: smooth;
}

body {
  background: #f1eae4;
}

.main-wrapper {
  width: 100%;
  height: 705px;
}

.header {
  width: 100%;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  margin: 0 auto;
}

.arrow {
  margin: 0 auto;
  width: 30px;
  height: 30px;

  cursor: pointer;
  animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.logo-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: #1d1b19;
}

.section1 {
  width: 100%;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper1__text-animation {
  color: #1d1b19;
  font-size: 25px;
  font-family: "Roboto";
  font-style: normal;
  overflow: hidden;
}

.wrapper1__rules {
  margin-top: 20px;
}

.wrapper1__rules-rule {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 0.1em;
  color: #1d1b19;
}

.wrapper1__rules-position {
  font-family: "Roboto";
  font-style: normal;
  color: #1d1b19;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}

.wrapper__video {
  width: 100%;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video__item {
  height: 400px;
  width: 500px;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .logo-name {
    margin-left: 60px;
  }
  .main-wrapper {
    width: 400px;
  }
  .section1 {
    margin-left: 30px;
  }

  .video__item {
    height: 300px;
    width: 400px;
  }
}
